{% extends 'web/base.html' %}


{% block about %}

   <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Personal Information</h4>
        </div>
        <div class="panel-body">
           id: Ncare
        </div>

        <div class="panel-body">
            擅长：Python, C/C++, 前端
        </div>

        <div class="panel-body">
            兴趣爱好：美剧，流行音乐，骑行
        </div>

        <div class="panel-body">
            Contact Me: xmm@163.com
        </div>
   </div>
{% endblock %}