{% extends 'web/base.html' %}


{% block content %}
     		{% if posts%}
                <b>共搜到{{ count }}个结果！</b>
				{% for post in posts %}

					<div class="table " style="border-bottom: 1px #eee solid">
						<h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
						<span class="glyphicon glyphicon-user" >&nbsp;xiong&nbsp;</span>
						<span class="glyphicon glyphicon-calendar" aria-hidden="true">&nbsp;{{post.updateAt}}&nbsp;</span>
						<!--<span class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp;{{count}}&nbsp;</span> -->
						<p class="p_main" style="margin-top:5px;"> {{post.content | safe}}</p>
  					</div>
				{% endfor %}
			{% else %}
                <b>无结果</b>
			{% endif%}
{% endblock %}