	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">文章列表</h3>
  		</div>
  		<div class="panel-body">
    		<p style="display:block; float:left">HTML的网络优化问题</p> <span>&nbsp;2015-09-15 09:45:02&nbsp;</span><span><a href="#">更新</a></span>|<span><a href="#">删除</a></span>
  		</div>
  		<div class="panel-body">
    		<p style="display:block; float:left">HTML的网络优化问题</p> <span>&nbsp;2015-09-15 09:45:02&nbsp;</span><span><a>更新</a></span>|<span><a>删除</a></span>
  		</div>
  		<div class="panel-body">
    		<p style="display:block; float:left">HTML的网络优化问题</p> <span>&nbsp;2015-09-15 09:45:02&nbsp;</span><span><a>更新</a></span>|<span><a>删除</a></span>
  		</div>
  		<div class="panel-body">
    		<p style="display:block; float:left">HTML的网络优化问题</p> <span>&nbsp;2015-09-15 09:45:02&nbsp;</span><span><a>更新</a></span>|<span><a>删除</a></span>
  		</div>

	</div>